/* Text Elements */

p.paragraph.box-text.white-text {
  font-family: 'Prompt', cursive;
}

span.text-element.land-text {
  display: block;
  margin: 2px 0 -3px 0;
  padding: 1px 0 1px 1px;
  width: 218px;
  height: 41px;
  background-color: rgba(0, 0, 0, .12);
  color: #ebebeb;
  text-align: center;
  text-indent: 17px;
  text-transform: capitalize;
  text-shadow: #454441 2px 2px 5px;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-size: 16px;
  font-family: 'PT Sans', cursive;
  line-height: 44px;
}

/* Interaction Elements */

a.link-button#green {
  background-image: url('../MTGARENA/green.svg');
}

a.link-button#red {
  background-image: url('../MTGARENA/red.svg');
}

a.link-button#black {
  background-image: url('../MTGARENA/black.svg');
}

a.link-button#blue {
  background-image: url('../MTGARENA/blue.svg');
}

a.link-button#white {
  background-image: url('../MTGARENA/%24.svg');
}

a.link-button.btn-floating {
  display: inline-block;
  width: 54px;
  height: 53px;
  border-left-width: 0;
  background-size: cover;
  background-repeat: repeat;
  box-shadow: rgba(0, 0, 0, .137255) 0 2px 2px 0, rgba(0, 0, 0, .117647) 0 3px 1px -2px, rgba(0, 0, 0, .2) 0 1px 5px 0;
  -webkit-filter: opacity(.59);
          filter: opacity(.59);
}

a.link-button.active.btn-floating {
  margin-left: -49px;
  background-color: #282828;
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
}

a.link-button.active {
  margin-left: -97px;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

a.link-button.btn-floating:hover {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: rgba(69, 69, 69, 0) 0 2px 2px 0, rgba(0, 0, 0, .14) 0 3px 1px -2px, rgba(0, 0, 0, .12) 0 1px 5px 0;
  -webkit-filter: opacity(.85);
          filter: opacity(.85);
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

/* Layout Elements */

body.body-style {
  background-color: #282828;
}

div.responsive-picture.land-img {
  position: static;
  z-index: auto;
  display: inline-block;
  margin-bottom: 22px;
  max-width: 301px;
  height: auto;
  border: 0 solid transparent;
  cursor: auto;
}

.container-grid.land-contain {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  margin: 5px;
  padding: 5px;
  min-height: 0;
  max-width: 223px;
  max-height: none;
  height: auto;
  background-color: #282828;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
}

button.btn-floating.btn-large.click-to-toggle.green {
  margin-top: -2px;
  margin-bottom: -2px;
  padding-top: 6px;
  width: 90px;
  height: 90px;
}

.container-grid.button-nav.fixed-action-btn {
  right: 43px;
  bottom: 77px;
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  vertical-align: bottom;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

ul.list-container.table-of-contents {
  bottom: 93px;
}

li.list-item-container.list {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;

  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container-grid.row-land.scrollspy {
  margin: 25px 15px 15px;
  padding: 15px;
}

.container-grid#plains {
  background-color: #c5c5ac;
}

.container-grid#island {
  background-color: #96b8c5;
}

.container-grid#swamp {
  background-color: #aba5a2;
}

.container-grid#mountain {
  background-color: #c89685;
}

.container-grid#forest {
  background-color: #8daf99;
}

.container-grid.area {
  margin-top: 20px;
  padding-top: 18px;
  padding-bottom: 107px;
}

div.responsive-picture.land-img > picture > img {
  -o-object-fit: cover;
     object-fit: cover;
}

div.responsive-picture.land-img > picture {
  height: auto;
}

li.list-item-container.list:hover {
  background-color: transparent;
}

@media screen and (min-width: 21rem) {
  /* Text Elements */

  span.text-element {
    color: #282828;
    font-size: 50px;
    font-family: 'Zilla Slab', cursive;
  }

  div.responsive-picture.land-img {
    max-width: 634px;
  }

  button#mana {
    background-color: rgba(76, 175, 80, .24);
    background-image: url('../MTGARENA/mana.png');
    background-attachment: local;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-filter: opacity(.61);
            filter: opacity(.61);

    background-blend-mode: normal;
  }

  button.btn-floating.btn-large.click-to-toggle.green {
    margin-left: -1px;
    width: 90px;
    height: 89px;
  }

  ul.list-container.table-of-contents {
    bottom: 90px;
  }

  .container-grid.button-nav.fixed-action-btn {
    right: 9px;
  }

  .container-grid.row-land.scrollspy {
    margin-left: -24px;
  }

  button#mana:hover {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@media screen and (min-width: 37.5625rem) {
  .container-grid.row-land {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
    -ms-flex-align: baseline;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
       -moz-box-align: baseline;
            align-items: baseline;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
  }

  .container-grid.row-land.scrollspy {
    margin-left: -15px;
  }
}